{{#current_user}}
  Welcome {{name}} <a href="#" id="logout" class="nopr-link">log out</a>
  <div>
    Select a friend:
    <div id="friends">
    Loading...
    </div>
  </div>
{{/current_user}}
{{^current_user}}
  <a href="#" id="fb_connect" class="nopr-link"><img src="/assets/fb_connect.png"/></a>
{{/current_user}}
